@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburgermenu{
    position: fixed;
    top:0
    text-align: center;r

}

.show-menu{
    position: fixed;
    right: 0px
    padding-top: 5%;
}

.hamburger{
    rotate: 0;
    cursor: pointer;
}

.show {
    rotate: (90deg);
    transform:translateY(0px);

}


.show .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);

}

.show .hamburger-bottom{
    transform: rotate(-45deg) translateY(-1px) translate(-1px);
   


}

.show .hamburger-middle{
    display: none;

}

